
/*.nunito-<uniquifier> {*/
/*             font-family: "Nunito", sans-serif;*/
/*             font-optical-sizing: auto;*/
/*             font-weight: <weight>;*/
/*             font-style: normal;*/
/*         }*/


/*.roboto-<uniquifier> {*/
/*             font-family: "Roboto", sans-serif;*/
/*             font-optical-sizing: auto;*/
/*             font-weight: <weight>;*/
/*             font-style: normal;*/
/*             font-variation-settings:*/
/*                     "wdth" 100;*/
/*         }*/


/*.playfair-display-<uniquifier> {*/
/*                       font-family: "Playfair Display", serif;*/
/*                       font-optical-sizing: auto;*/
/*                       font-weight: <weight>;*/
/*                       font-style: normal;*/
/*                   }*/


/*.raleway-<uniquifier> {*/
/*              font-family: "Raleway", sans-serif;*/
/*              font-optical-sizing: auto;*/
/*              font-weight: <weight>;*/
/*              font-style: normal;*/
/*          }*/



/*.comfortaa-<uniquifier> {*/
/*                font-family: "Comfortaa", sans-serif;*/
/*                font-optical-sizing: auto;*/
/*                font-weight: <weight>;*/
/*                font-style: normal;*/
/*            }*/